<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace名称空间 -->
<!-- 用来关联,映射文件(XML)和接口文件,即接口的类路径 -->
<mapper namespace="com.lyx.mapper.BookMapper">

    <!--  查询一个图书  -->
    <select id="getBookByName" resultType="com.lyx.model.Book">
        select * from book where bname = #{bname}
    </select>

    <!--  借阅更新图书数量  -->
    <update id="borrowBook" >
        update book set number = number -1 where number > 0 and bname = #{bname}
    </update>

    <!--  添加借阅信息  -->
    <insert id="addBrInfo" >
        insert into borrow(uid,bid,btime) values(#{param1},#{param2},#{param3})
    </insert>

    <!--  模糊查询图书  -->
    <select id="getBookByText" resultType="com.lyx.model.Book">
        select * from book where bname like #{bname}
    </select>

    <!--  删除一个图书  -->
    <delete id="delBook">
        delete from book where bname = #{bname}
    </delete>

    <!--  查询全部图书  -->
    <select id="getAllBook" resultType="com.lyx.model.Book">
        select * from book
    </select>

    <!-- 添加图书 -->
    <insert id="addBook">
        insert into book(bname,price,press,author,number) values(#{bname},#{price},#{press},#{author},#{number})
    </insert>

    <!--  查询所有借阅信息  -->
    <!--  查询一本书是否有人正在借阅  -->
    <select id="getBorrowInfo" resultType="com.lyx.model.Borrow">
        select br.* from book b,borrow br where b.bid = br.bid and b.bname = #{bname} and rtime is null
    </select>
</mapper>